hr
if config_modified
	h2 config has changed, you can
	a(href='/kms/config/save') save

a.save_as(href='/kms/config/save') save as

if config_modified
	a.reload(href='/kms/config/load/#{config_filename}') reload

script.
	$(function(){
		$('a.save_as').click(function(e){
			e.preventDefault();

			$.get('/kms/v1/uuid', function(data){
				var filename=prompt('filename',data); 
				var url='/kms/config/save?filename='+filename;
				alert(url);
				window.location=url;
			})
		});
	});
